.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: $card-width;
  padding: $card-padding-top $card-padding-x $card-padding-bottom;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $white-color;
  font-family: $font-family;
  color: $text-color;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  &__code {
    margin: 0 0 16px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $secondary-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $text-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;
    color: $secondary-color;
  }

  &__price-value {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }

  &__buy {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid $accent-color;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;
    background-color: $accent-color;
    transition:
      color 0.3s,
      background-color 0.3s;

    &:hover {
      color: $accent-color;
      background-color: $white-color;
    }
  }
}
